


  <div class="container-form">

    <h2 class="signup">SignUp</h2>
    <p><%= form_for @user do |f| %></p>
    <p class= "label"><%= f.label :name %></p>
    <p><%= f.text_field :name%></p>
    <p class= "label"><%= f.label :email %></p>
    <p><%= f.text_field :email, :class => "new-todo", :placeholder => "Register with your email!!" %></p>
    <p class= "label"><%= f.label :bio %></p>
    <p><%= f.text_area :bio, size: '50x12'%></p>
    <p class= "label"><%= f.label "Upload Image" %></p>
    <p><%= f.text_field :picture, :placeholder => "copy paste url"%></p>
    <p class= "label"><%= f.label :password %></p>
    <p><%= f.password_field :password, :placeholder => "password"%></p>
    <p class= "label"><%= f.label :password_confirmation  %></p>
    <p><%= f.password_field :password_confirmation, :placeholder => "confirm password"%></p>
    <p><%= f.submit %></p>

    <%end%>


    <%if @errors %>
    <ul>
      <% @errors.each do |error| %>
       <li><%= error %></li>
       <%end%>
       </ul>
       <%end%>


  </div>
