<section>

    <h2>Edit your restaurant</h2>
    <p><%= form_for @restaurant do |f| %></p>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name%></p>
    <p><%= f.label :contact %></p>
    <p><%= f.text_field :contact%></p>
    <p><%= f.label :email %></p>
    <p><%= f.text_field :email, :class => "new-todo", :placeholder => "Restaurant email" %></p>
    <p><%= f.label :image %></p>
    <p><%= f.text_field :image, size: '10x12'%></p>
    <p><%= f.collection_select :category_id, Category.all, :id, :name%></p>
    <p><%= f.collection_select :location_id, Location.all, :id, :name%></p>
    <p><%= f.submit %></p>

    <%end%>

</section>
