<!-- <div class= "header">
<h1><=link_to CraveFinder, restaurants_path%></h1>
</div> -->

    <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
  <p><%= link_to image_tag("logo.png", width: '122px', height: "122px" ), restaurants_path%></p>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
          <div class="buttons">
        <%= link_to "Home", restaurants_path, class: "button is-light is-small"%>
      </a>
      <a class="navbar-item">
        <% if current_user%>
        <%= link_to "Profile", user_path(current_user.id), class:"button is-light is-small" %>
        <%else%>
        <%= link_to "Profile", login_path, class:"button is-light is-small"%>
        <%end%>
      </a>

      </div>

    </div>
  <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%if !current_user %>
          <%= link_to "Signup", new_user_path, class:"button is-light is-small" %>
          <%= link_to "login", login_path, class:"button is-light is-small" %>

          <%end%>

          <% if current_user %>
          <%= link_to "create restaurant", new_restaurant_path, class:"button is-light is-small" %>
          <%= link_to "Logout", logout_path, class: "button is-light is-small" %>
          <%end%>
          
        </div>
          </div>
            </div>
</nav>
