<!DOCTYPE html>
<html>
  <head>
    <title>CraveFinder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
     <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
<link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Lato|Merriweather|Open+Sans|Oswald|Pacifico|Raleway|Roboto|Satisfy&display=swap" rel="stylesheet">
  </head>

  <body>

  <%= render "layouts/header"%>
<section>


      <%= yield %>

</section>



  </body>


</html>
